# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Build files
client/dist/
client/dist-ssr/
server/dist/
server/build/
/node_modules